@import url(https://fonts.googleapis.com/css?family=Exo:100,200,400);
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:700,400,300);

body{
  margin: 0;
  padding: 0;
  background: #fff;
  color: #020202;
  font-family: Arial;
  font-size: 12px;
}
.body{
  width: auto;
  height: auto;
  z-index: 0;
}
.rogo{
  color: black;
  font-size: 5rem;
  font-family: 'Italianno', cursive;
  font-weight: 500;
  word-wrap: break-word;
  margin: 0;
}
.contents{
  display: flex;
  justify-content: space-around;
  position:relative;
  top: 200px;
  left: -75px;
}
.grad{
  text-align: center;
}
.loginform{
  position: relative;
  top: 25px;
  left: -75px;
}
.loginform input:not([type="button"]) {
  width: 100%;
  padding: 5px;
}
.loginform input[type="button"] {
  padding: 10px;
  width: 100px;
  margin: 50px;
  margin-left: 40%;
  border-radius:10px;
}
.login input[type=text]{
  width: 250px;
  height: 30px;
  background: transparent;
  border: 1px solid rgba(255,255,255,0.6);
  border-radius: 2px;
  color: #a18d6c;
  font-family: 'Exo', sans-serif;
  font-size: 16px;
  font-weight: bold;
  padding: 4px;
}

.login input[type=password]{
  width: 250px;
  height: 30px;
  background: transparent;
  border: 1px solid rgba(255,255,255,0.6);
  border-radius: 2px;
  color: #a18d6c;
  font-family: 'Exo', sans-serif;
  font-size: 16px;
  font-weight:bold;
  padding: 4px;
  margin-top: 10px;
}

.login input[type=button]{
  width: 260px;
  height: 35px;
  background: #fff;
  border: 1px solid #fff;
  cursor: pointer;
  border-radius: 2px;
  color: #a18d6c;
  font-family: 'Exo', sans-serif;
  font-size: 16px;
  font-weight: bold;
  padding: 6px;
  margin-top: 10px;
}

.login input[type=button]:hover{
  opacity: 0.8;
}

.login input[type=button]:active{
  opacity: 0.6;
}

.login input[type=text]:focus{
  outline: none;
  border: 1px solid rgba(255,255,255,0.9);
}

.login input[type=password]:focus{
  outline: none;
  border: 1px solid rgba(255,255,255,0.9);
}

.login input[type=button]:focus{
  outline: none;
}

::-webkit-input-placeholder{
   color: rgba(255,255,255,0.6);
}

::-moz-input-placeholder{
   color: rgba(255,255,255,0.6);
}
.loginform input:not([type="button"]) {
  width: 100%;
  padding: 5px;
}
.loginform input[type="button"] {
  padding: 10px;
  width: 100px;
  margin: 50px;
  margin-left: 40%;
  border-radius:10px;
}