@charset "utf-8";
body {
  font-size: 16px;
  margin: 0;
}

/* ユーザネーム */
.user-name {
  text-align: center;
  font-size: 1.5rem;
  margin-top: 2rem;
}

/* 中身 */
.content {
  margin-top: 5vh;
  display: flex;
  justify-content: center;
  font-size: 1rem;
  height: 70vh;
}

/* スクロール可能なコンテナのスタイル */
.scrollable-container {
  max-height: 60vh; /* コンテナの最大高さを設定 */
  overflow-y: auto; /* 縦方向のスクロールバーを表示 */
}

/* todoタスク名 */
.task {
  text-align: center;
  font-size: 2rem;
}
/* todoリスト */
.todo-list {
  width: 75vw;
  height: 100%;
  border-spacing: 0;
}

/* 目標 */
.td1 {
  width: 25vw;
  height: 100%;
  display: flex;
  align-items: center;
  font-size: 1.5rem;
}
.todo-list1 {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.target {
  width: 70%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.hight,
.mid,
.low {
  font-size: 1.3rem;
  font-weight: 600;
  width: 2rem;
  height: 2rem;
  line-height: 2rem;
  border-radius: 50%;
  text-align: center;
}
.hight {
  background-color: #ff9595;
}
.mid {
  background-color: #95d2ff;
}
.low {
  background-color: #96ffa6;
}

/* 音楽のやつ */
.td2 {
  width: 40vw;
  font-size: 1.5rem;
}
.todo-list2 {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;

}
.work,.break{
  width: 50%;
}
.work-text,
.break-text {
  font-size: 1.1rem;
  font-weight: 400;
  text-align: left;
}


/* 実行、編集 */
.td3 {
  width: 12vw;
}
.todo-list3 {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 1.2rem;
}
.td3-a {
  text-decoration: none;
  color: black;
  padding: 0.2rem 0.8rem;
  border-radius: 50%;
  background-color: #ffa012;
}
.td3-a-edit {
  text-decoration: none;
  color: black;
  padding: 0.2rem 0.8rem;
  border-radius: 50%;
  background-color: #bdbdbd;
}
.td3-a:hover {
  background-color: #fdd4a5;
}
.td3-a-edit:hover {
  background-color: #d8d8d8;
}

/* todoがなかった時 */
.not-todo {
  width: 50vw;
  font-size: 2rem;
  display: flex;
  flex-direction: column;
  margin-top: 20vh;
}

/* 右側のリンク */
.column {
  width: 17vw;
  display: flex;
  flex-direction: column;
}
.a-tag {
  font-size: 1.4rem;
  margin-left: auto;
  text-decoration: none;
  color: black;
  display: inline-block;
  width: fit-content;
}
.a-tag::after {
  position: relative;
  bottom: 1px; /*　線の位置を設定できる */
  content: ''; /* :hover::after呼び出す */
  display: block;
  width: 0;
  transition: width 0.3s; /*width 0~:hoverのwidthに0.3sで遷移*/
  border-bottom: 2px solid black;
  /* margin: 0 auto; で中央から外側に線を引く */
  margin-left: auto;
}
.a-tag:hover::after {
  width: 100%;
}
/* todoの作成 */
.todo_register {
  display: inline;
  width: fit-content;
  margin-left: auto;
  margin-top: 5vh;
  background-color: #00ff37;
  color: black;
  font-size: 1.5rem;
  padding: 1.5rem 1.5rem;
  border-radius: 50%;
  text-decoration: none;
}
.todo_register:hover {
  background-color: #afffc0;
}
