.editcenter {
  margin: auto;
  width: 50%;
}
.editcenter input:not([type="button"]) {
  width: 100%;
  padding: 5px;
}
.editcenter input[type="button"] {
  padding: 10px;
  width: 100px;
  margin: 50px;
  margin-left: 40%;
  border-radius:10px;
}
.edit_form_group {
  display: flex;
  flex-direction: column;
}
.edit_label {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.rule2 {
  font-size:12px;
  padding-left: 50px;
}
.edit_form {
  display: flex;
  flex-direction: column;
}
.edit {
  margin-top: 40px;
}
