<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- font読み込み -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter&family=Italianno&display=swap"
      rel="stylesheet"
    />
    <!-- header css -->
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/header.css') }}"
    />
    <!-- ページのcss -->
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/music_ranking.css') }}"
    />
    <title>音楽ランキング</title>
  </head>
  <body>
    <div class="header">
      <h1 class="title">Pomodoro</h1>
      <a href="{{url_for('user_logout.logout')}}" class="logout">ログアウト</a>
      <a href="{{url_for('todo_top.todo_list')}}" class="todo_top">戻る</a>
    </div>
    <div class="tab-btn">
      <button class="btn" id="work-btn" onclick="showTab('work')">作業中</button>
      <button class="btn" id="break-btn" onclick="showTab('break')">休憩中</button>
    </div>
    <div class="content">
      <table border=2 class="ranking-list work-rank" id="work-tab">
        {%for wrank in work_rank %}
        <tr class="ranking-item {{'first' if wrank[0]==1 else 'second' if wrank[0]==2 else 'third' if wrank[0]==3 else ''}}">
          <td class="ranking-list1">
            <div class="rank">{{wrank[0]}}</div>
          </td>
          <td class="ranking-list2">
            <div class="user_name">{{wrank[1]}}</div>
          </td>
          <td class="ranking-list3">
            <div class="point">{{wrank[2]}}回</div>
          </td>
        {% endfor %}
        </tr>
      </table>
      <table border=2 class="ranking-list break-rank" id="break-tab" style="display: none;">
        {%for brank in break_rank %}
        <tr class="ranking-item {{'first' if brank[0]==1 else 'second' if brank[0]==2 else 'third' if brank[0]==3 else ''}}">
          <td class="ranking-list1">
            <div class="rank">{{brank[0]}}</div>
          </td>
          <td class="ranking-list2">
            <div class="user_name">{{brank[1]}}</div>
          </td>
          <td class="ranking-list3">
            <div class="point">{{brank[2]}}回</div>
          </td>
        {% endfor %}
        </tr>
      </table>
    </div>
    <script src="/static/js/music_ranking.js"></script>
  </body>
</html>
