<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="static/css/user_edit.css">
  <title>パスワード編集</title>
  <!-- font読み込み -->
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
    href="https://fonts.googleapis.com/css2?family=Italianno&display=swap"
    rel="stylesheet"
  />
  <!-- ヘッダーcss読み込み -->
  <link rel="stylesheet" href="/static/css/header.css" />
</head>
<body>
  <div class="header">
    <h1 class="title">Pomodoro</h1>
    <!-- ↓ログアウトボタンのあるページのみ -->
    <a href="/logout" class="logout">ログアウト</a>
    <!-- ↓ログイン後ページの戻るボタンのついているページのみ(遷移先todo_top) -->
    <a href="/todo_list" class="todo_top">戻る</a>
  </div>
  {% if error != null %}
  <p style="color: red" class="error">{{error}}</p>
  {% endif %} {% if msg != null %}
  <p style="color: blue" class="msg">{{msg}}</p>
  {% endif %}

  <div class="editcenter">
    <form action="/password_edit" method="post">
      <p>
        <div class="edit_form_group">
        <div class="edit_label">
          <div class="">パスワード</div>
          <div class="rule2">※パスワードは4文字以上、大文字小文字混合の英数字のみで入力してください</div>
        </div>
        <div class="edit_form">
          <div class=""><input type="password" name="pw" {% if old!=null and old[1]!="" %} value={{ old[1] }} {%endif%}></div>
        </div>
        </div>
      </p>

      <p>確認パスワード<br>
      <input type="password" name="pw2" {% if old!=null and old[2]!="" %} value={{ old[2] }} {%endif%}></p>

      <div class="edit">
        <p><input type="submit" value="変更" id="button"></p>
      </div>
      <div class="a-tag">
        <a href="/user_edit">ユーザ名とメールを編集</a>
      </div>
    </form>
  </div>
</body>
</html>
