<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- font読み込み -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter&family=Italianno&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/todo_top.css') }}"
    />
    <title>todo一覧</title>
  </head>
  <body>
    <div class="header">
      <h1 class="title">Pomodoro</h1>
      <a href="/logout" class="logout">ログアウト</a>
    </div>
    <div class="user-name">ようこそ {{ username[0] }} さん</div>
    <div class="content">
      {% if todo|length > 0 %}
      <table border="2" class="todo-list">
        <tr class="todo-th">
          <th class="th1">ToDoの内容</th>
          <th class="th2">作業・休憩音楽</th>
          <th class="th3">実行・編集</th>
        </tr>
        {% for ToDo in todo %}
        <tr class="todo-item">
          <td class="td1">
            <div class="todo-list1">
              <div class="task">{{ToDo[2]}}</div>
              <div class="target">
                <div class="target-text">目標 : {{ToDo[3]}}</div>
                {% if ToDo[9]==1%}
                <div class="hight">高</div>
                {% elif ToDo[9]==2 %}
                <div class="mid">中</div>
                {% else %}
                <div class="low">低</div>
                {% endif %}
              </div>
            </div>
          </td>
          <td class="td2">
            <div class="todo-list2">
              <div class="work">
                <div class="bgm">{{ToDo[11]}}</div>
                <div>が作業中に流れる</div>
              </div>
              <div class="break">
                <div class="bgm">{{ToDo[13]}}</div>
                <div>が休憩中に流れる</div>
              </div>
            </div>
          </td>
          <td class="td3">
            <div class="todo-list3">
              <div class="a-tag">
                <a href="/todo_act/{{ToDo[0]}}">実行</a>
                <a href="/todo_editer/{{ToDo[0]}}">編集</a>
              </div>
            </div>
          </td>
        </tr>
        {% endfor %}
      </table>
      {% else %}
      <div class="not-todo">
        <p>実行できるTodoがありません</p>
        <p><a href="/todo_register">Todoの作成</a>をしてください</p>
      </div>
      {% endif %}
      <div class="column">
        <a class="a-tag" href="/user_ranking">ランキング</a>
        <a class="a-tag" href="/user_edit">ユーザー情報の編集</a>
        <a class="a-tag" href="/purchase">ポイント交換</a>
        <a class="a-tag" href="/todo_finished_list">過去のToDoの一覧</a>
        <a class="a-tag todo_register" href="/todo_register">ToDoの作成</a>
      </div>
    </div>
  </body>
</html>
