<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../static/css/todo_top.css">
  <title>ToDOtop</title>
</head>
<body>
<header>
  <p>Pomodoro</p><p>ログアウト</p>
</header>
<p>ようこそ{{username}}さん</p>
<div class="todo-list">
{% for ToDo in todo%}
<div class="todo-list1">
<p class="task">{{ToDo[2]}}</p>
<p>目標 : {{ToDo[3]}}</p>
{% if ToDo[9]==1%}
  <p>高</P>
 {% elif ToDo[9]==2 %}
  <p>中</p>
 {% else: %}
  <p>低</p>
 {% endif %}
  </div>
  <div class="todo-list2">
<p class="bgm">{{ToDo[11]}}</p><p>が作業中に流れる</p>
<p class="bgm">{{ToDo[13]}}</p><p>が休憩中に流れる</p>
  </div>
  <div class="todo-list3">
<p>実行</p>
<p>編集</p>
  </div>
{% endfor %}
</div>
  <p>ToDoの作成</p>
</body>
</html>
