<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/css/todo_act.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Italianno&display=swap"
      rel="stylesheet"
    />
    <title>ToDo実行</title>
  </head>
  <body>
    <div class="header">
      <h1 class="title">Pomodoro</h1>
      <a href="/logout" class="logout">ログアウト</a>
    </div>
    <div class="content">
      <div>実行中のToDO</div>
      <div class="flex">
        <div>{{ data[0] }}</div>
        <div class="circle" id="work-circle"></div>
        <div class="act">実行中</div>
      </div>

      <div class="flex">
        <div>目標時間：</div>
        <div>{{ data[1] }}</div>
        <div class="state">
          <div class="circle" id="break-circle"></div>
          <div class="break">休憩中</div>
        </div>
      </div>

      <div class="flex">
        <div>経過時間：</div>
        <div id="total-time">00秒</div>
      </div>

      <div class="flex">
        <div id="break-text">休憩までの時間：</div>
        <div id="for-breaktime">00秒</div>
      </div>

      <div class="flex">
        <div>再生中の曲：</div>
        <div id="play-music">{{ data[4] }}</div>
        <div></div>
      </div>
      <audio id="audio" loop autoplay>
        <source src="{{ data[5] }}" type="audio/wav" />
        <p>
          このブラウザーはaudio要素に対応していません。<a href="{{ data[5] }}"
            >音声ファイルへのリンク</a
          >から御覧ください。
        </p>
      </audio>
      <label>
        音量<input type="range" min="0" max="1" step="0.01" id="volumeRange" />
      </label>
      <div class="button flex">
        <button class="break-btn">中断</button>
        <button class="finish-btn" onclick="finishBtn()">完了</button>
      </div>
    </div>
    <script>
      var todoData = {{ data | tojson | safe }};
    </script>

    <script src="/static/js/todo_act.js"></script>
  </body>
</html>
