<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/css/todo_register.css" />
    <title>ToDo実行画面</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Italianno&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/static/css/header.css" />
  </head>
  <body>
    <div class="header">
      <h1 class="title">Pomodoro</h1>
      <!-- ↓ログアウトボタンのあるページのみ -->
      <a href="/logout" class="logout">ログアウト</a>
      <!-- ↓ログイン後ページの戻るボタンのついているページのみ(遷移先todo_top) -->
      <a href="/todo_list" class="todo_top">戻る</a>
    </div>
    {% if error != null %}
    <p class="error">{{error}}</p>
    {% endif %}
    <div class="content">
      <form action="/todo_register" method="post" class="form">
        <div class="form-item">
          ToDoの内容
          <input
            type="text"
            name="task"
            class="input input-task"
            placeholder="例：数学の勉強をする"
            {% if old!=null and old[1]!="" %} value={{ old[1] }} {%endif%}
          />
        </div>
        <div class="flex">
          <div class="form-item flex-item">
            <div>作業中のBGM</div>
            <div class="select-div">
              <select name="work_bgm" class="select">
                {%for buyed_music in music%}
                <option value="{{buyed_music[1]}}"  {% if old!=null and old[3]==buyed_music[1] %} selected {%endif%}>{{buyed_music[5]}}</option>
                {% endfor %}
              </select>
            </div>
          </div>
          <div class="form-item flex-item">
            目標時間
            <span class="target-text">※数字は半角で入力してください</span>
            <input
              type="text"
              name="target_time"
              class="input"
              placeholder="例：○時間○○分、○時間、○○分"
              {% if old!=null and old[2]!="" %} value={{ old[2] }} {%endif%}
            />
          </div>
        </div>

        <div class="flex">
          <div class="form-item flex-item">
            <div>休憩中のBGM</div>
            <div class="select-div">
              <select name="break_bgm" class="select">
                {%for buyed_music in music%}
                <option value="{{buyed_music[1]}}" {% if old!=null and old[4]==buyed_music[1] %} selected {%endif%}>{{buyed_music[5]}}</option>
                {% endfor %}
              </select>
            </div>
          </div>
          <div class="form-item flex-item">
            <div>優先度</div>
            <div class="select-div">
              <select name="priority" class="select">
                <option value="0" {% if old!=null and old[5]==0 %} selected {%endif%}>高</option>
                <option value="1" {% if old!=null and old[5]==1 %} selected {%endif%}>中</option>
                <option value="2" {% if old!=null and old[5]==2 %} selected {%endif%}>低</option>
              </select>
            </div>
          </div>
        </div>
        <div class="submit-div">
          <input type="submit" value="作成" class="submit" />
        </div>
      </form>
    </div>
  </body>
</html>
