<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/css/todo_act.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Italianno&display=swap"
      rel="stylesheet"
    />
    <title>ToDo実行</title>
  </head>
  <body>
    <div class="header">
      <h1 class="title">Pomodoro</h1>
      <a href="/logout" class="logout">ログアウト</a>
    </div>
    <div class="content">
      <div>実行中のToDO</div>
      <div class="flex">
        <div>{{ data[0] }}</div>
        <div class="circle"></div>
        <div class="act">実行中</div>
      </div>

      <div class="flex">
        <div>目標時間：</div>
        <div>{{ data[1] }}</div>
        <div class="state">
          <div class="circle"></div>
          <div class="break">休憩中</div>
        </div>
      </div>

      <div class="flex">
        <div>経過時間：</div>
        <div>時間</div>
      </div>

      <div class="flex">
        <div class="">休憩までの時間：</div>
      </div>

      <div class="flex">
        <div>再生中の曲：</div>
        <div>{{ data[2] }}</div>
        <div></div>
      </div>
      <audio id="audio" loop autoplay>
        <source src="{{ data[3] }}" type="audio/wav" />
        <p>
          このブラウザーはaudio要素に対応していません。<a href="{{ sound }}"
            >音声ファイルへのリンク</a
          >から御覧ください。
        </p>
      </audio>
      <table>
        <tr>
          <th>音声全体の時間</th>
          <td id="durationDisplay">--:--</td>
        </tr>
        <tr>
          <th>現在の再生時間</th>
          <td id="currentTimeDisplay">--:--</td>
        </tr>
      </table>
      <label>
        音量<input type="range" min="0" max="1" step="0.01" id="volumeRange" />
      </label>
      <audio id="music" controls autoplay loop>
        <source src="static/music/wonderland.wav" type="audio/mpeg" />
        Your browser does not support the audio element.
      </audio>

      <script>
        // 音楽要素を取得
        var music = document.getElementById('music');

        // 再生が終了したら再生を再開
        music.addEventListener('ended', function () {
          this.currentTime = 0;
          this.play();
        });
      </script>

      <div class="button flex">
        <button>中断</button>
        <button>完了</button>
      </div>
    </div>
    <script src="/static/js/todo_act.js"></script>
  </body>
</html>
