<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="static/css/user_edit.css">
  <title>利用者編集</title>
</head>
<body>
  <div class="editcenter">
    <form action="/edit_exe" method="post">

      <p>ユーザー名<br>
        <input type="text" name="username" placeholder="" value="{{row[1]}}"></p>

     <p>メールアドレス!<br>
       <input type="email" name="mail" placeholder="" value="{{row[0]}}"></p>

     <p>パスワード<br>
       <input type="password" name="pw" ></p>


     <p>確認パスワード<br>
       <input type="password" name="pw2" ></p>




      <p><input type="submit" value="変更" id="button"></p>

      {% if error != null %}
      <p style="color:red">{{error}}</p>
      {% endif %}


      {% if msg != null %}
      <p style="color:red">{{msg}}</p>
      {% endif %}
    </form>
  </div>
</body>
</html>
