<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="static/css/user_register.css">
  <link rel="stylesheet" href="static/css/header.css">
  <title>新規登録</title>
</head>
<body>
  <div class="header">
    <h1 class="title">Pomodoro</h1>
    <a href="/logout" class="logout">ログアウト</a>
    <!-- ↓ログイン後ページの戻るボタンのついているページのみ(遷移先todo_top) -->
    <a href="/todo_top"class="todo_top">戻る</a>
  </div>
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
    href="https://fonts.googleapis.com/css2?family=Italianno&display=swap"
    rel="stylesheet"
  />

 <div class="center">


  {% if error != null %}
  <p style="color:red">{{error}}</p>
  {% endif %}

  {% if a != null %}
  <p style="color:red">{{a}}</p>
  {% endif %}


    <form action="/register_exe" method="post">

      <p>ユーザー名<br>
        <input type="text" name="username" required></p>


     <p>メールアドレス<br>
       <input type="email" name="mail" required></p>

       <p>
        <div class="register_form_group">
         <div class="register_label">
           <div class="">パスワード</div>
           <div class="rule">※パスワードは4文字以上、大文字小文字混合の英数字のみで入力してください</div>
         </div>
         <div class="register_form">
           <div class=""><input type="password" name="pw" required></div>
         </div>
        </div>
       </p>

     <p>確認パスワード<br>
       <input type="password" name="pw2" required></p>
      <div class="register">
      <p><input type="submit" value="登録" id="button"></p>
      <div>
  </div>
    </form>
</body>
</html>
