<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="static/css/user_register.css">
  <title>新規登録</title>
</head>
<body>
 <div class="center">


  {% if error != null %}
  <p style="color:red">{{error}}</p>
  {% endif %}

  {% if a != null %}
  <p style="color:red">{{a}}</p>
  {% endif %}


    <form action="/register_exe" method="post">

      <p>ユーザー名<br>
        <input type="text" name="username"></p>


     <p>メールアドレス<br>
       <input type="email" name="mail"></p>

     <p>パスワード<br>
       <input type="password" name="pw"></p>


     <p>確認パスワード<br>
       <input type="password" name="pw2"></p>



      <p><input type="submit" value="登録" id="button"></p>


  </div>
    </form>
</body>
</html>
